In [1]:
import pandas as pd

In [2]:
vine_df = pd.read_csv("./Amazon_Vine_Analysis/vines_table.csv")
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R100065P6TTS3J,4.0,0.0,0.0,N,Y
1,R10007MH6NTVFM,3.0,0.0,0.0,N,Y
2,R1000CIZTRNP23,4.0,3.0,3.0,N,Y
3,R1000DL08MOV57,5.0,0.0,0.0,N,Y
4,R1000JOVLD0J41,2.0,0.0,0.0,N,N
...,...,...,...,...,...,...
2643614,RZZZFDH4LH30T,4.0,1.0,1.0,N,Y
2643615,RZZZGT26Y68LS,4.0,0.0,0.0,N,Y
2643616,RZZZMAT106H9,5.0,1.0,1.0,N,Y
2643617,RZZZSA64OB85S,5.0,2.0,2.0,N,Y
2643618,RZZZTGR4ZR68W,1.0,0.0,0.0,N,Y

In [3]:
vine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2643619 entries, 0 to 2643618
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   review_id          object
 1   star_rating        float64
 2   helpful_votes      float64
 3   total_votes        float64
 4   vine               object
 5   verified_purchase  object
dtypes: float64(3), object(3)
memory usage: 121.0+ MB

In [4]:
vine_df_20 = vine_df.loc[vine_df["total_votes"] >= 20]
vine_df_20

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
41,R10037MJ9LKCVM,5.0,72.0,74.0,N,Y
52,R1003WQ2N568UJ,5.0,139.0,140.0,N,Y
74,R1004OFK0BIRO3,5.0,138.0,141.0,N,N
91,R1005VMT0E345F,5.0,22.0,23.0,N,Y
99,R1006CNCT32VNM,5.0,17.0,20.0,N,N
...,...,...,...,...,...,...
2643251,RZZC0MJKENZM5,5.0,27.0,31.0,N,Y
2643283,RZZDTBUALGPME,5.0,34.0,38.0,N,Y
2643335,RZZH6JKBKVPZ0,5.0,22.0,23.0,N,Y
2643409,RZZM7I5YLLDD4,5.0,21.0,22.0,N,Y
2643423,RZZMYQ9G22DY0,5.0,188.0,198.0,N,Y

In [5]:
vine_df_50 = vine_df_20.loc[(vine_df_20["helpful_votes"] / vine_df_20["total_votes"]) >=.5]
vine_df_50

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
41,R10037MJ9LKCVM,5.0,72.0,74.0,N,Y
52,R1003WQ2N568UJ,5.0,139.0,140.0,N,Y
74,R1004OFK0BIRO3,5.0,138.0,141.0,N,N
91,R1005VMT0E345F,5.0,22.0,23.0,N,Y
99,R1006CNCT32VNM,5.0,17.0,20.0,N,N
...,...,...,...,...,...,...
2643251,RZZC0MJKENZM5,5.0,27.0,31.0,N,Y
2643283,RZZDTBUALGPME,5.0,34.0,38.0,N,Y
2643335,RZZH6JKBKVPZ0,5.0,22.0,23.0,N,Y
2643409,RZZM7I5YLLDD4,5.0,21.0,22.0,N,Y
2643423,RZZMYQ9G22DY0,5.0,188.0,198.0,N,Y

In [6]:
paid_reviews_df = vine_df_50.loc[vine_df_50["vine"] == 'Y']
paid_reviews_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
5441,R10A5XNAP2Y4N7,5.0,33.0,36.0,Y,N
15633,R10T07ZEB56X21,5.0,121.0,132.0,Y,N
40805,R1241UCQGRHCNH,5.0,72.0,76.0,Y,N
44218,R12AB66IMT9Q8W,3.0,68.0,76.0,Y,N
49978,R12L8ARVK2RU3U,5.0,20.0,25.0,Y,N
...,...,...,...,...,...,...
2495747,RSCJRJRH95TW3,4.0,38.0,42.0,Y,N
2523395,RTRD9708JBI8O,5.0,22.0,24.0,Y,N
2527083,RTY77D0552ZR5,5.0,53.0,62.0,Y,N
2550299,RV5OQXGCYHSC6,5.0,24.0,28.0,Y,N
2635678,RZLBU14F5Y7N,4.0,47.0,48.0,Y,N

In [7]:
unpaid_reviews_df = vine_df_50.loc[vine_df_50["vine"] == 'N']
unpaid_reviews_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
41,R10037MJ9LKCVM,5.0,72.0,74.0,N,Y
52,R1003WQ2N568UJ,5.0,139.0,140.0,N,Y
74,R1004OFK0BIRO3,5.0,138.0,141.0,N,N
91,R1005VMT0E345F,5.0,22.0,23.0,N,Y
99,R1006CNCT32VNM,5.0,17.0,20.0,N,N
...,...,...,...,...,...,...
2643251,RZZC0MJKENZM5,5.0,27.0,31.0,N,Y
2643283,RZZDTBUALGPME,5.0,34.0,38.0,N,Y
2643335,RZZH6JKBKVPZ0,5.0,22.0,23.0,N,Y
2643409,RZZM7I5YLLDD4,5.0,21.0,22.0,N,Y
2643423,RZZMYQ9G22DY0,5.0,188.0,198.0,N,Y

In [8]:
paid_5star_reviews = paid_reviews_df.loc[paid_reviews_df["star_rating"] == 5]["star_rating"].count()
paid_5star_reviews

65

In [9]:
paid_reviews = paid_reviews_df["star_rating"].count()
paid_reviews

170

In [10]:
percentage_paid_5star_reviews = round((paid_5star_reviews / paid_reviews) * 100, 2)
percentage_paid_5star_reviews

38.24

In [11]:
unpaid_5star_reviews = unpaid_reviews_df.loc[unpaid_reviews_df["star_rating"] == 5]["star_rating"].count()
unpaid_5star_reviews

20612

In [12]:
unpaid_reviews = unpaid_reviews_df["star_rating"].count()
unpaid_reviews

37840

In [13]:
percentage_unpaid_5star_reviews = round((unpaid_5star_reviews / unpaid_reviews) * 100, 2)
percentage_unpaid_5star_reviews

54.47